.about-section {
  background-color: $color-light-grey;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-light-blue, 0.8), 
    rgba($color-dark-blue, 0.8)), 
  url(../img/nord-4.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -11rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-light-grey;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem;
}

.section-reviews {
  padding: 15rem 0;
  position: relative;
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-light-blue, $color-dark-blue);
}

.booking {
  background-image: linear-gradient(105deg, 
                            rgba($color-white, .9) 0%,
                            rgba($color-white, .9) 50%,
                            transparent 50%),
                            url(../img/nord-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}